.form{
    width: 100%;
    background: #fa7b4c;
    height: calc(100vh - 78px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
 .form > form{
     width: 80%;
     height: 80%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .buttom-sign-up > h2{
     margin-top: 40px;
     margin-bottom: 80px;
     font-size: 2em;
     color: white; 
     border-bottom: solid 2px rgb(75, 139, 189);
     padding-bottom: 4px;
     
 }
 
 .form > form > input{
     margin-bottom: 8px; 
     padding: 8px;
     width: 100%;
     border-radius: 8px;
     margin: 8px;
     background: rgba(255, 255, 255, 0.075);
     text-decoration: none;
     box-shadow: none;
     border: none;
     border-bottom: ridge 2px rgb(75, 139, 189);  
 }
 .form > form > label:nth-child(3){
     margin-top: 18px;
 }
 .form > form > label {
     color: rgb(93, 76, 76);
 }
 .form > form > input:focus{
     background: rgba(255, 255, 255, 0.644);
 }
 
 .checkbox > input, .checkbox > label {
     color:rgb(255, 255, 255); 
     margin-top: 12px; 
     margin-bottom: 40px;
 }
 
 .checkbox > label {
    line-height: 0.9;
 }

 .checkbox{
     display: flex;
     justify-content: flex-start;
     width: 100%;
     margin-left: -20px;
 }
 
 .buttom-sign-in{
     width: 100%;
     display: flex;
     justify-content: center;
 }
 .buttom-sign-in > input{ 
     padding: 8px 80px; 
     width: 100%;
     border-radius: 80px;
     cursor: pointer;  
     border: none;
     transition:all 0.8s ease;
     border-bottom: solid 3px rgb(75, 139, 189);
     border-left: solid 3px rgb(75, 139, 189);
 }
 .buttom-sign-in > input:hover{
     background: rgb(75, 139, 189);
     transform: scale(1.1);
 
 }
 
 .inside-form > span{
     margin-top: 16px;
     font-size: 16px;
 }
 .inside-form > span > i {
     transition: all 0.4s ease-in-out;
 }
 
 .inside-form > span > i:hover {
     font-size: 20px;
     color: rgb(75, 139, 189);
 }

 .background {
     background: url('../../../../assets/img/ttt.gif') center cover no-repeat;
 }
 
 
 /**/
 .side{ 
     width: 100%;
     height: calc(100vh - 78px);
     display: flex;
     justify-content: center;
 }