.ranking,
.lobby,
.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobby {
    background-color: #B75E41;
    width: calc(100% - 72px);
    height: calc(100vh - 101px);
    padding: 36px;
    margin-top: 0;
}

@media screen and (max-width: 720px) {
    .lobby {
        width: calc(100% - 24px);
        padding: 12px;
    }
    .lobby_button {}
}