header {
    display: flex; 
    align-items: center; 
    /*background-image: linear-gradient(to top right, rgb(149, 201, 240) 6%, 
    rgb(75, 139, 189) 39%, rgb(19, 78, 122) 62%,  rgb(2, 28, 53) 84%);*/
    background-image: linear-gradient(to bottom, rgb(75, 139, 189) 90%, rgb(2, 40, 50) 10%);
    position: relative;
}

.buttons {
    position: absolute;
    right: 0;
}

.header_title {
    /* font-family: 'Darker Grotesque', sans-serif; */
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    text-shadow: 0.1em 0.1em 0.6em white;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 2em;
    }
}

.symbol {
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
    color: white;
    -webkit-touch-callout: none;  
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;     
    user-select: none;  
    transition:all 0.3s ease;
    margin: 0;
    padding-left: 12px;
    line-height: .5;
}

.symbol:hover {
    font-size: 4.5em;  
    color: rgb(2, 40, 50);
}

.symbol:active {
    -webkit-animation: swing 0.3s ease infinite;
    animation: swing 0.3s ease infinite;
    -webkit-animation-iteration-count: 0.3s;
    animation-iteration-count: 0.3s;
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    30%
    {
        -webkit-transform: translateY(-3px);
       transform: translateY(-3px);
    } 
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/*button*/
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em; 
    font-weight: 600; 
    font-family: sans-serif;
    padding-right: 12px; 
}

a:hover {
    color: rgb(2, 40, 50); 
}

/*media query*/
@media screen and (max-width:767px) {
   .login{display:none;}
   .register{display:none;}
   .symbol{display:none;}
}