header{
    display: flex; 
    align-items: center; 
    background-image: linear-gradient(to top right, rgb(149, 201, 240) 6%, 
    rgb(75, 139, 189) 39%, rgb(19, 78, 122) 62%,  rgb(2, 28, 53) 84%);
    position: relative;
}

.button{
    position: absolute;
    right: 0;
}

h1{
    margin: 0 auto; 
}

/*button*/
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em; 
    font-weight: 600; 
    font-family: sans-serif;
    padding-right: 12px; 
} 
a:hover{
    color: rgb(233, 233, 233); 

}

