.lobby_mode {
    background-color: orange;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0 24px 0;
    border-radius: 4px;
}

.lobby_arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 8px;
    width: 8px;
    cursor: pointer;
}

.--previous {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.--next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@media screen and (max-width: 720px) {
    .lobby_mode {
        padding: 48px 0 48px 0;
        height: calc(100vh - 2em - 22px);
    }
}